@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lato-400-S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Trod';
  font-style: normal;
  src: url(../fonts/TROD-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Baudopunch';
  font-style: normal;
  src: url(../fonts/baudotpunch-Regular.otf) format('opentype');
}
